.combatBtn{
    height: 250px;
    width: 250px;
    background: none;
    border: none;
    outline: 0
}

.combatBtn:active {
    outline: none;
    border: none;
    }
    
.combatBtn:focus {outline:0;}

.command{
    /* vertical-align: middle; */
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    color: white;
    text-shadow: 1px 5px darkslategray;
}