.combatBtn{
    width: 250px;
    height: 250px;
}

.command{
    /* vertical-align: middle; */
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}