.cardImg {
    width: 300px;
    max-height: 500px;
}

.player {
    /* background: red; */
    color:white
}

.enemy {
    color:white;
    /* opacity: .5; */
}

.card {
    height: 500px;
    width: 345px;
}