.cardImg {
    width: 300px;
    max-height: 500px;
}

.player {
    /* background: red; */
    color:white
}

.enemy {
    color:white;
    /* opacity: .5; */
}

.card {
    height: 500px;
    width: 345px;
}

.healthBarBox {
    height: 50px;
    background-color:#656565;
    color:#000000;
    box-shadow: inset 0 0 15px #000000;
    text-align: center;
}

.greenHealthBar {
    height: 50px;
    width: inherit;
    position: relative;
    bottom: 50px;
    background-color:#225C5B;
    color:#000000;
    box-shadow: 3px 0px 5px 0px #000;
}
.redHealthBar {
    height: 100%;
    background-color:#8D2F2E;
    position: relative;
    transition: width 2s;
}

.healthText{
    position: relative;
    bottom: 96px;
    color: #F6F7EB;
    text-shadow: -1px 0 #1C1C1C, 0 1px #1C1C1C, 1px 0 #1C1C1C, 0 -1px #1C1C1C !important;
}