/* navbar */
.navbar, .navbar-expand-lg, .navbar-dark{
    background: #1C1C1C !important;
    box-shadow: 0px 4px 60px #656565 !important;
    width: 98.9vw !important;
    padding: 10px;
    display:flex;
    align-items:center; 
    justify-content:flex-end;
}
/* toggler button */
.navbar-toggler{
    margin: 0;
}
/* logo */
.navbar-brand {
    position: absolute;
    top: 20px !important;
    left: 20px !important;
    font-size: 40px !important;
    font-family: 'Almendra SC', serif;
    color: #F6F7EB !important;
    text-shadow:
    -3px -3px 0 #000,
    3px -3px 0 #000,
    -3px 3px 0 #000,
    3px 3px 0 #000,
    3.5px 3.5px 0 #F6F7EB,
    5px 5px 0 #F6F7EB,
    5.5px 5.5px 0 #F6F7EB,
    6px 6px 0 #F6F7EB;
    line-height: 0.8em;
    letter-spacing: 0.1em;
    transform: scaleY(0.7);
    margin:0;
    text-align: center;
  }

/* links */
.nav-link {
    color: #23B5D3 !important;
}

.nav-link:hover{
    color: #156C7E !important;
    text-decoration: underline !important;
}

.navbar-nav, .nav-item, .active, .nav-link:active, .nav-link:focus{
    color: #F6F7EB !important;
    text-decoration: underline !important;
}
/* text */
#navbarText{
    align-items:center; 
    justify-content:flex-end;
}
.navbar-text {
    color: #F6F7EB !important;
    padding: 10px;
    margin-left: 4vw;
}

@media only screen and (max-width: 900px) {
    /* for tablets */
    /* logo */
    .navbar-brand {
        font-size: 35px !important;
    }
    /* text */
    #navbarText{
        align-items:center; 
        justify-content:center;
    }
}

@media only screen and (max-width: 600px) {
    /* for mobile */
    /* logo */
    .navbar-brand {
        font-size: 30px !important;
        text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000 !important;
    }
}