.form-signin {
    background: #1C1C1C !important;
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 15vh auto !important;
    box-shadow: 10px 10px 60px #656565;
}
.form-signin .checkbox {
    font-weight: 400;
}
.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.btn{
    background: #328786 !important;
    border: #225C5B !important;
}

.btn:hover{
    background: #225C5B !important;
    border: 1px solid #FFFFFF !important;
}

.btn.disabled, .btn:disabled, .btn.disabled:hover, .btn:disabled:hover{
    background: #656565 !important;
    border: #173F3F !important;
}

/* links */
a {
    color: #23B5D3;
}

a:hover{
    color: #156C7E;
    text-decoration: underline;

}


body {
    
    background-image: url("https://wallpapertag.com/wallpaper/full/4/0/4/148428-most-popular-dungeon-background-1920x1080-for-desktop.jpg");
    background-position: top
}

@media only screen and (max-width: 1024px) {
    /* for tablets */
    .form-signin {
        background: #1C1C1C !important;
        width: 100%;
        max-width: 330px;
        padding: 15px;
        margin: 15vh auto !important;
        box-shadow: 10px 10px 60px #656565;
    }
}

@media only screen and (max-width: 600px) {
    /* for mobile */
    .form-signin {
        background: #1C1C1C !important;
        width: 100%;
        max-width: 330px;
        padding: 15px;
        margin: 10vh auto !important;
        box-shadow: 10px 10px 60px #656565;
    }
}