#card{
    background-color:black;
    margin: 50px;
    color: #2E2E2E;
    text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white; 
    justify-content: center;
    text-align: center;
}