#card{
    background-color:black;
    margin: 50px;
    /* text-overflow: initial; */
    /* overflow-wrap: normal; */
    /* height: 600px; */
    /* width: 800px; */
    color: black;
    /* display: flex; */
    justify-content: center;
    text-align: center;
}