.centered {
	border: black 2 px solid;
	align-content: center;
    justify-content: center;
    column-width: 32vw;
}
.altCentered {
	align-content: center;
	justify-content: center;
    color: white;
	height: 70vh;
    column-width: 32vw;
    overflow: auto;
}
.col-4 {
	column-width: 32vw;
}
.textCard {
	background-image: url("../../Images/Icons/crit_icon_transp_small.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 18vw 18vw;
	width: inherit;
	height: 32vh;
	margin-bottom: none;
	margin-top: none;
}
.textLog{
	position: relative;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
}
.danger{
    font-size: 80px;
    z-index: 2;
}

.cardImg {
	width: 30vw;
	height: 30vw;
}

.buttonRow{
	width: 30vw;
	height: 32vh;
	margin-top: none;
}

.command {
	vertical-align: middle;
	align-content: center;
	font-size: 48px;
	text-shadow: 1px 5px #656565;
	color: white;
	font-family: 'VT323', monospace;
}
.combatBtn {
	height: 15vw;
	width: 15vw;
	background: none;
	border: none;
	outline: 0;
	position: relative;
	z-index: 2;
	
	color: #F6F7EB !important;
	font-family: 'VT323', monospace !important;
	font-size: 48px !important;
	text-shadow: 1px 5px #656565;
}


.attack {
	background-image: url("../../Images/Buttons/sword_custom.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 12vw 12vw;
	outline: 0;
	margin: auto;
}
.defend {
	background-image: url("../../Images/Buttons/shield_custom.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 12vw 12vw;
}
/* button hover style if required */
.combatBtn.attack:hover {
	background-image: url("../../Images/Buttons/sword_custom.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 11vw 11vw;
	outline: 0;

}
.combatBtn.defend:hover {
	background-image: url("../../Images/Buttons/shield_custom.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 11vw 11vw;
	outline: 0;
}
.combatBtn.disabled, .combatBtn:disabled, .combatBtn.disabled:hover, .combatBtn:disabled:hover{
	color: #656565 !important;
	text-shadow: 1px 5px #1c1c1c;
    filter: grayscale(100%);
} 

/* shine effect */
.combatBtn:after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0%;
    height: 100%;
    background-color: rgba(255,255,255,0.4);
	transition: none;
	z-index: 1;    
}
.combatBtn:hover:before {
	width: 0%;
}
.combatBtn:hover:after {
    width: 120%;
    background-color: rgba(255,255,255,0);
	transition: all 0.3s ease-out;
	z-index: 1;

}
.combatBtn:active {
	outline: none;
	border: none;
}

.combatBtn:focus {
	outline: 0;
}




@media only screen and (max-width: 900px) {
	/* for tablets */
	.col-4 {
		/* background: green;
        border: 4px solid white; */
	}
	.buttonRow{
		display: inline;
	}
    .danger{
        font-size: 80px;    
    }
	.cardImg {
		width: 30vw;
		height: 30vw;
	}
	.combatBtn {
		height: 20vw;
		width: 20vw;
		font-size: 40px !important;
	}
	.attack, .defend {
		background-size: 20vw 20vw;
	}
	.combatBtn.attack:hover, .combatBtn.defend:hover {
		background-size: 18vw 18vw;
	}
}
@media only screen and (max-width: 600px) {
	/* for mobile */
	.col-4 {
		column-width: 100vw !important;
	}
	.buttonRow{
		display: inline;
	}
    .danger{
        font-size: 40px;    
    }
	.cardImg {
		width: 90px;
		height: 100px;
	}
	.combatBtn {
		height: 20vw;
		width: 20vw;
		font-size: 30px !important;
	}
	.attack, .defend {
		background-size: 20vw 20vw;
	}
	.combatBtn.attack:hover, .combatBtn.defend:hover {
		background-size: 18vw 18vw;
	}
}