.container{
    margin-top: 20px;
    margin-left: 0;
    width: 90vw;
    align-content: center;
}

.storyArea{
    height: inherit;
    width: 95vw;
    margin: auto;
    padding-left:8vw
    
}

.localCard {
    height: 500%;
}
.localBox {
    height: 500px;
    justify-content: center;
    align-content: center;
    overflow: auto;
}
.locationTitle {
    font-size: 48px;
    font-family: 'Almendra SC', serif;
}
.storyText {
    font-size: 35px;
}
.journeyButton{
    font-size: 35px;
}

@media only screen and (max-width: 900px) {
    /* for tablets */
    .container{
        margin-top: -10px !important;
        width: 100vw;
    }
    .locationTitle {
        font-size: 40px;
    }
    .storyText {
        font-size: 28px;
        padding: 10px;
    }
    .storyArea{
        padding-left:0;   
    }
    .journeyButton{
        font-size: 30px;
    }
}

@media only screen and (max-width: 600px) {
    /* for mobile */
    .container{
        margin-top: -10px !important;
        width: 100vw;
    }
    .locationTitle {
        font-size: 40px;
    }
    .storyText {
        font-size: 28px;
        padding: 5px;
    }
    .storyArea{
        padding-left:0;   
    }
    .journeyButton{
        font-size: 25px;
    }
    .storyArea{
        padding-left:none;       
    }
}