.row{
    margin-top: 0x;
    padding: 20px;
    width: 98vw;

}

@media only screen and (max-width: 900px) {
    /* for tablets */
    .row{
        margin-top: 20px;
        width: 100vw;

    }  
}

@media only screen and (max-width: 600px) {
    /* for mobile */
    .row{
        margin-top: 20px;
        width: 100vw;

    } 
}