.hide {
	display: none;
}

.app {
	color: white;
	font-family: 'VT323', monospace;
}

.victory {
	font-size: 56px;
	text-shadow: 2px 7px darkslategray;
}

.crit-stats {
	background-image: url("../../Images/Icons/crit_icon_transp_small.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 18vw 18vw;
	margin: auto;
	outline: 0;
	height: 250px;
	width: 200px;
	padding-top: 60px;
}

.att-stats {
	background-image: url("../../Images/Icons/sword_icon_transp_small.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 18vw 18vw;
	margin-left: none;
	margin: auto;
	outline: 0;
	height: 250px;
	width: 200px;
	padding-top: 60px;
}

.def-stats {
	background-image: url("../../Images/Icons/shield_icon_transp_small.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 18vw 18vw;
	margin-left: none;
	margin: auto;
	outline: 0;
	height: 250px;
	width: 200px;
	padding-top: 60px;
}

/* Aniamtion for attacks */

.animateAttack {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	z-index: 3;
	width: 0px;
	height: 0px;
	border-left: 3px solid red;
	border-right: 3px solid red;
	border-bottom: 220px solid red;
	border-radius: 20px;
	transform: rotateZ(45deg);
	animation: attack 0.5s cubic-bezier(0.17, 0.67, 0.68, 0.81);
}

@keyframes attack {
	0% {
		transform: translate3d(50px, -50px, 0) rotateZ(45deg);
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: translate3d(-20px, 20px, 0) rotateZ(45deg);
		opacity: 0;
	}
}

/* Aniamtion for defend */

.animateDefend {
	/* background-color: blue; */
	background-image: url("../../Images/Icons/shield_icon_transp_small.png");
	background-size: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	/* z-index: -1; */
	margin: 0 auto;
	height: 100px;
	width: 100px;
	animation: defend 1s cubic-bezier(0.88, 0.18, 0.99, 0.46);
}

.mobile{
	display: none
}

@keyframes defend {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

/* Aniamtion for fade */

.animateFade {
	animation: fade 3s cubic-bezier(0, 0.71, 0.47, 0.35);
}

@keyframes fade {
	0% {
		opacity: 1;
	}
	25% {
		opacity: 0;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/* flicker */

.flicker-3 {
	animation: flicker-3 2.5s linear infinite both;
}

@keyframes flicker-3 {
	0%, 100% {
		opacity: 1;
	}
	32.98% {
		opacity: 1;
	}
	33% {
		opacity: 0;
	}
	34% {
		opacity: 0;
	}
	34.02% {
		opacity: 1;
	}
	34.98% {
		opacity: 1;
	}
	35% {
		opacity: 0;
	}
	35.9% {
		opacity: 0;
	}
	35.92% {
		opacity: 1;
	}
	38.98% {
		opacity: 1;
	}
	39% {
		opacity: 0;
	}
	39.8% {
		opacity: 0;
	}
	39.82% {
		opacity: 1;
	}
	83.98% {
		opacity: 1;
	}
	84% {
		opacity: 0;
	}
	84.9% {
		opacity: 0;
	}
	84.92% {
		opacity: 1;
	}
}

/* Adding some credits animation */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.wrapper {
	position: absolute;
	top: 100%;
	left: 50%;
	width: 500px;
	margin-left: -250px;
	font: 300 30px/1;
	font-family: 'VT323', monospace;
	;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	animation: 60s credits linear infinite;
	text-shadow: 1px 8px darkslategray;
}

.gameTitle {
	margin-bottom: 75px;
	font-size: 65px;
}

.dev {
	margin-bottom: 65px;
}

.thanks {
	font-size: 48px;
	margin-top: 200px;
}

@keyframes credits {
	0% {
		top: 100%;
	}
	100% {
		top: -500%;
	}
}

.restartBtn {
	color: white;
}

/* regular buttons */

button {
	background: #225C5BD9;
	color: #F6F7EB;
	border: none;
	position: relative;
	margin-bottom: 10vh;
	height: 60px;
	font-size: 1.6em;
	padding: 0 2em;
	cursor: pointer;
	transition: 800ms ease all;
	outline: none;
}

button:hover {
	background: #ffffff00;
	color: #F6F7EB;
}

button:before, button:after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	height: 2px;
	width: 0;
	background: #225C5B;
	transition: 400ms ease all;
}

button:after {
	right: inherit;
	top: inherit;
	left: 0;
	bottom: 0;
}

button:hover:before, button:hover:after {
	width: 100%;
	transition: 800ms ease all;
}

@media only screen and (max-width: 700px) {
	.crit-stats {
		background-image: url("../../Images/Icons/crit_icon_transp_small.png");
		background-repeat: no-repeat;
		background-position: center;
		margin: auto;
		outline: 0;
		height: 100px;
		width: 150px;
		padding-top: 30px;
	}
	.att-stats {
		background-image: url("../../Images/Icons/sword_icon_transp_small.png");
		background-repeat: no-repeat;
		background-position: center;
		margin-left: none;
		margin: auto;
		outline: 0;
		height: 100px;
		width: 150px;
		padding-top: 30px;
	}
	.def-stats {
		background-image: url("../../Images/Icons/shield_icon_transp_small.png");
		background-repeat: no-repeat;
		background-position: center;
		margin-left: none;
		margin: auto;
		outline: 0;
		height: 100px;
		width: 150px;
		padding-top: 30px;
	}
	.notMobile{
		display: none;
	}
	.mobile{
		display: block;
	}
	.victory{
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		z-index: 3;
		width: 100vw;
	}
}