.hide {
    display: none;
}

.textCard {
    background: none;
    width: 345px;
}
.app {
    color: white;
    font-family: 'VT323', monospace;
    z-index: 5;
}

.start{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  background: none;
  color: #2E2E2E;
  border: none;
  text-shadow:
  -1px -1px 0 white,
  1px -1px 0 white,
  -1px 1px 0 white,
  1px 1px 0 white; 
  font-size: 48px;
}

.startName{
  font-size: 54px;
  font-family: 'Almendra SC', serif;
}

.embark{
  border: white solid 5px;
  padding: 3px;
}

.victory{
  font-size: 56px;
  text-shadow: 2px 7px darkslategray;
}

.critical{
  background-image: url("../../Images/Icons/crit_icon_transp_small.png");
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
  outline: 0;
  height: 300px;
  width: 300px;
  /* padding-top: 100px; */
  font-size: 500px;
}

.danger{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
}

.crit-stats{
  background-image: url("../../Images/Icons/crit_icon_transp_small.png");
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
  outline: 0;
  height: 250px;
  width: 200px;
  padding-top: 60px;

}

.att-stats{
  background-image: url("../../Images/Icons/sword_icon_transp_small.png");
  background-repeat: no-repeat;
  background-position: center;
  margin-left: none;
  margin: auto;
  outline: 0;
  height: 250px;
  width: 200px;
  padding-top: 60px;

}

.def-stats{
  background-image: url("../../Images/Icons/shield_icon_transp_small.png");
  background-repeat: no-repeat;
  background-position: center;
  margin-left: none;
  margin: auto;
  outline: 0;
  height: 250px;
  width: 200px;
  padding-top: 60px;

}

.centered{
  /* background:red; */
  border: black 2 px solid;
  align-content: center;
  justify-content: center;
}

.altCentered{
  align-content: center;
  justify-content: center;
  color: white;
}
.combatBtn{
  height: 250px;
  width: 250px;
  background: none;
  border: none;
  outline: 0
}

.combatBtn:active {
  outline: none;
  border: none;
  }
  
.combatBtn:focus {outline:0;}

.attack{
  background-image: url("../../Images/Buttons/sword_custom.png");
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: center;
  outline: 0;
}

.defend{
  background-image: url("../../Images/Buttons/shield_custom.png");
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: center;
}

.command{
  vertical-align: middle;
  margin-bottom: 65px;
  /* margin: 0; */
  /* position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  font-size: 48px;
  text-shadow: 1px 5px darkslategray;
  color: white;
  font-family: 'VT323', monospace;
}

/* .selectRow{
  justify-content: center;
  margin: auto;
  align-content: center;
}

.selectCol{
  justify-content: center;
  margin: auto;
  align-content: center;
} */

.selectImg{
  width: 450px;
  height: 450px;
}

/* Aniamtion for attacks */
.animateAttack {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 3;
  width: 0px;
  height: 0px;
  border-left: 3px solid white;
  border-right: 3px solid white;
  border-bottom: 180px solid white;
  transform: rotateZ(45deg);
  animation: attack 0.5s cubic-bezier(0.17, 0.67, 0.68, 0.81);
}

@keyframes attack {
  0% {
    transform: translate3d(50px, -50px, 0) rotateZ(45deg);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate3d(-20px, 20px, 0) rotateZ(45deg);
    opacity: 0;
  }
}

/* Aniamtion for defend */
.animateDefend {
  background-color: blue;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: -1;
  margin: 0 auto;
  height: 100px;
  width: 100px;
  animation: defend 1s cubic-bezier(0.88, 0.18, 0.99, 0.46);
}

@keyframes defend {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Aniamtion for fade */
.animateFade {
  animation: fade 3s cubic-bezier(0, 0.71, 0.47, 0.35);
}


@keyframes fade {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.localCard {
  height:500%;

}

.localBox {
  height:500px;

}

 .locationTitle{
    font-size: 48px;
    font-family: 'Almendra SC', serif;
    justify-content: center;
    align-content: center;
 }



 /* testing animations */
 /* flicker */

 .flicker-3 {
	animation: flicker-3 2.5s linear infinite both;
}

@keyframes flicker-3 {
    0%,
    100% {
      opacity: 1;
    }
    32.98% {
      opacity: 1;
    }
    33% {
      opacity: 0;
    }
    34% {
      opacity: 0;
    }
    34.02% {
      opacity: 1;
    }
    34.98% {
      opacity: 1;
    }
    35% {
      opacity: 0;
    }
    35.9% {
      opacity: 0;
    }
    35.92% {
      opacity: 1;
    }
    38.98% {
      opacity: 1;
    }
    39% {
      opacity: 0;
    }
    39.8% {
      opacity: 0;
    }
    39.82% {
      opacity: 1;
    }
    83.98% {
      opacity: 1;
    }
    84% {
      opacity: 0;
    }
    84.9% {
      opacity: 0;
    }
    84.92% {
      opacity: 1;
    }
  }

 /* Adding some credits animation */
 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.credits{
  overflow: hidden;
  height: 50vh;
  background: none;
}

 .wrapper {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 500px;
  margin-left: -250px;
  font: 300 30px/1;
  font-family: 'VT323', monospace;;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  animation: 60s credits linear infinite;
  text-shadow: 1px 8px darkslategray;

}

.gameTitle {
  margin-bottom: 75px;
  font-size: 65px;
}


.credit{
  margin-bottom: 50px;
  font-size: 48px;
}

.dev{
    margin-bottom: 65px;
}

.thanks{
  font-size: 48px;
  margin-top: 200px;
}


@keyframes credits {
    0% { top:  100%; }
  100% { top: -500%; }
}

.restartBtn{
  color: white;
}

