.hide {
	display: none;
}
.textCard {
	background: none;
	width: 345px;
}
.app {
	color: white;
	font-family: 'VT323', monospace;
}
.victory {
	font-size: 56px;
	text-shadow: 2px 7px darkslategray;
}
.crit-stats {
	background-image: url("../../Images/Icons/crit_icon_transp_small.png");
	background-repeat: no-repeat;
	background-position: center;
	margin: auto;
	outline: 0;
	height: 250px;
	width: 200px;
	padding-top: 60px;
}
.att-stats {
	background-image: url("../../Images/Icons/sword_icon_transp_small.png");
	background-repeat: no-repeat;
	background-position: center;
	margin-left: none;
	margin: auto;
	outline: 0;
	height: 250px;
	width: 200px;
	padding-top: 60px;
}
.def-stats {
	background-image: url("../../Images/Icons/shield_icon_transp_small.png");
	background-repeat: no-repeat;
	background-position: center;
	margin-left: none;
	margin: auto;
	outline: 0;
	height: 250px;
	width: 200px;
	padding-top: 60px;
}
.typewriter {
	overflow: hidden;
	/* Ensures the content is not revealed until the animation*/
	font-family: 'VT323', monospace;
	border-right: .15em solid orange;
	/* The typwriter cursor */
	white-space: nowrap;
	/*Keeps the content on a single line */
	margin: 0 auto;
	/* Gives that scrolling effect as the typing happens */
	letter-spacing: .15em;
	/* Adjust as needed */
	display: flex;
	animation: typing 6.5s steps(40, end), blink-caret .75s step-end infinite;
	font-size: 24px;
}
/* The typing effect */

@keyframes typing {
	from {
		width: 0
	}
	to {
		width: 100%
	}
}
/* The typewriter cursor effect */

@keyframes blink-caret {
	from, to {
		border-color: transparent
	}
	50% {
		border-color: orange;
	}
}
.localCard {
	height: 500%;
}
.localBox {
	height: 500px;
}
.locationTitle {
	font-size: 48px;
	font-family: 'Almendra SC', serif;
	justify-content: center;
	align-content: center;
}
/* testing animations */

/* flicker */

.flicker-3 {
	animation: flicker-3 2.5s linear infinite both;
}
@keyframes flicker-3 {
	0%, 100% {
		opacity: 1;
	}
	32.98% {
		opacity: 1;
	}
	33% {
		opacity: 0;
	}
	34% {
		opacity: 0;
	}
	34.02% {
		opacity: 1;
	}
	34.98% {
		opacity: 1;
	}
	35% {
		opacity: 0;
	}
	35.9% {
		opacity: 0;
	}
	35.92% {
		opacity: 1;
	}
	38.98% {
		opacity: 1;
	}
	39% {
		opacity: 0;
	}
	39.8% {
		opacity: 0;
	}
	39.82% {
		opacity: 1;
	}
	83.98% {
		opacity: 1;
	}
	84% {
		opacity: 0;
	}
	84.9% {
		opacity: 0;
	}
	84.92% {
		opacity: 1;
	}
}
/* Adding some credits animation */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.credits {
	overflow: hidden;
	height: 50vh;
	background: none;
}
.wrapper {
	position: absolute;
	top: 100%;
	left: 50%;
	width: 500px;
	margin-left: -250px;
	font: 300 30px/1;
	font-family: 'VT323', monospace;
	;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	animation: 60s credits linear infinite;
	text-shadow: 1px 8px darkslategray;
}
.gameTitle {
	margin-bottom: 75px;
	font-size: 65px;
}
.credit {
	margin-bottom: 50px;
	font-size: 48px;
}
.dev {
	margin-bottom: 65px;
}
.thanks {
	font-size: 48px;
	margin-top: 200px;
}
@keyframes credits {
	0% {
		top: 100%;
	}
	100% {
		top: -500%;
	}
}
.restartBtn {
	color: white;
}
/* regular buttons */

button {
	background: #225C5BD9;
	color: #F6F7EB;
	border: none;
	position: relative;
	margin-bottom: 10vh;
	height: 60px;
	font-size: 1.6em;
	padding: 0 2em;
	cursor: pointer;
	transition: 800ms ease all;
	outline: none;
}
button:hover {
	background: #ffffff00;
	color: #F6F7EB;
}
button:before, button:after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	height: 2px;
	width: 0;
	background: #225C5B;
	transition: 400ms ease all;
}
button:after {
	right: inherit;
	top: inherit;
	left: 0;
	bottom: 0;
}
button:hover:before, button:hover:after {
	width: 100%;
	transition: 800ms ease all;
}