.modalBody {
    justify-content: center;
    text-align: center;
}
.statHeader {
    justify-content: center;
    text-align: center;
    font-size: 60px;
    margin-top: 50px;
    margin-bottom: -50px;
}
.stats {
    width: 30vw;
    height: 30vw;
    background-repeat: no-repeat;
	background-position: center;
	background-size: 20vw 20vw;
	margin: auto;
	outline: 0;
    padding-top: 10vw;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.statName {
    font-size: 3vw;
    height: 4vw;
}
.percent {
    font-size: 8vw;
    position: relative;
}
.selectImg {
    width: 30vw;
    height: 30vw;
}

.crit-stats {
	background-image: url("../../Images/Icons/crit_icon_transp_small.png");
}

.att-stats {
	background-image: url("../../Images/Icons/sword_icon_transp_small.png");
}

.def-stats {
	background-image: url("../../Images/Icons/shield_icon_transp_small.png");
	
}

/* stats button */

.statCheck {
    background: #6457A64D;
    color: #F6F7EB;
    border: none;
    position: relative;
    margin-bottom: 10vh;
    height: 60px;
    font-size: 1.6em;
    padding: 0 2em;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
}

.statCheck:hover {
    background: #6457A600;
    color: #F6F7EB;
}

.statCheck:before, .statCheck:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #6457A6;
    transition: 400ms ease all;
}

.statCheck:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

.statCheck:hover:before, .statCheck:hover:after {
    width: 100%;
    transition: 800ms ease all;
}

.statCheck:active {
    outline: none;
    border: none;
}

.statCheck:focus {
    outline: 0;
}

/* start button & starting class name area */

.startButtons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    background: none;
    border: none;
}

.startName {
    font-size: 54px;
    font-family: 'Almendra SC', serif;
    color: #1C1C1C;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}

@media only screen and (max-width: 768px) {
    /* for tablets */
    .statHeader{
        margin-top: 10vw;
        margin-bottom: -10vw;
    }
    .statName {
        padding-top: 0px;
        font-size: 5vw;
        height: 10vw;
    }
    .percent {
        font-size: 75px;
    }
    .stats {
        width: 40vw !important;
        height: 40vw !important;
        background-size: 22vw;
    }
    .selectImg {
        width: 30vw;
        height: 30vw;
    }
    .statCheck {
        width: 150px;
        padding: 0;
        text-align: center;
    }
}

@media only screen and (max-width: 600px) {
    /* for mobile */
    .statHeader{
        margin-top: 8vw;
        font-size: 60px;
    }
    .statName {
        padding-top: 10px;
        font-size: 4vw;
        height: 10vw;
    }
    .percent {
        font-size: 28px;
    }
    .stats {
        background-size: 20vw;
    }
    .selectImg {
        width: 90px;
        height: 100px;
    }
    .statCheck {
        width: 90px;
        height: 50px;
        padding: 0;
        font-size: 30px;
        text-align: center;
    }
    footer {
        display: none;
    }
}