.hide {
    display: none;
}

.textCard {
    background: white;
    height: 500px;
    width: 345px;
}
.app {
    color: white;
    font-family: 'VT323', monospace;
}



 .locationTitle{
    font-size: 48px;
    font-family: 'Almendra SC', serif;
    justify-content: center;
    align-content: center;
 }