.hide {
    display: none;
}

.textCard {
    background: white;
    height: 500px;
    width: 345px;
}
.app {
    color: white;
    font-family: 'VT323', monospace;
}

.typewriter{
    position: relative;
    top: 50%;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);   
    animation: typewriter 4s steps(44) 1s 1 normal both,
               blinkTextCursor 500ms steps(44) infinite normal;
 }

  @keyframes typewriter{
    from{width: 0;}
    to{width: 100%;}
  }
  @keyframes blinkTextCursor{
    from{border-right-color: rgba(206, 219, 21, 0.75);}
    to{border-right-color: transparent;}
  }

 .locationTitle{
    font-size: 48px;
    font-family: 'Almendra SC', serif;
    justify-content: center;
    align-content: center;
 }