.hide {
    display: none;
}

.textCard {
    background: white;
    height: 500px;
    width: 345px;
}
.app {
    color: white;
    font-family: 'VT323', monospace;
}

/* .selectRow{
  justify-content: center;
  margin: auto;
  align-content: center;
}

.selectCol{
  justify-content: center;
  margin: auto;
  align-content: center;
} */

.selectImg{
  width: 450px;
  height: 450px;
}

.typewriter  {
    overflow: hidden; /* Ensures the content is not revealed until the animation*/
    font-family: 'VT323', monospace;
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /*Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    display: flex;
    animation:
    typing 6.5s steps(40, end),
    blink-caret .75s step-end infinite;
    font-size: 24px;
 }
 
  /* The typing effect */
 @keyframes typing {
    from { width: 0 }
    to { width: 100% }
 }
 
  /* The typewriter cursor effect */
 @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
 }

 .locationTitle{
    font-size: 48px;
    font-family: 'Almendra SC', serif;
    justify-content: center;
    align-content: center;
 }


 /* testing animations */
 /* flicker */

 .flicker-3 {
	animation: flicker-3 2.5s linear infinite both;
}

@keyframes flicker-3 {
    0%,
    100% {
      opacity: 1;
    }
    32.98% {
      opacity: 1;
    }
    33% {
      opacity: 0;
    }
    34% {
      opacity: 0;
    }
    34.02% {
      opacity: 1;
    }
    34.98% {
      opacity: 1;
    }
    35% {
      opacity: 0;
    }
    35.9% {
      opacity: 0;
    }
    35.92% {
      opacity: 1;
    }
    38.98% {
      opacity: 1;
    }
    39% {
      opacity: 0;
    }
    39.8% {
      opacity: 0;
    }
    39.82% {
      opacity: 1;
    }
    83.98% {
      opacity: 1;
    }
    84% {
      opacity: 0;
    }
    84.9% {
      opacity: 0;
    }
    84.92% {
      opacity: 1;
    }
  }


